#footer {
  position: relative;
}

.footer {
  font-size: $f12;
  margin-bottom: 100px;
  color: var(--color-3);
  white-space: pre-wrap;

  @media screen and(min-width:$screen-md-min) {
    display: none;
    margin-bottom: 0;
  }
}

.backToTop {
  position: fixed;
  bottom: 50px;
  right: 13px;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
  border: 1px solid var(--color-3);
  color: var(--color-3);
  padding: 14px;
  background-color: rgba(22, 22, 24, 0.2);
  display: none;

  @media screen and(min-width:$screen-md-min) {
    display: block;
  }

  &:hover {
    transform: scale(1.1) rotate(360deg);
    color: var(--color-3);
    opacity: 1;
  }

  html[data-theme="light"] & {
    background-color: rgba(22, 22, 24, 0.6);
  }

  i {
    display: block;
    position: absolute;
    top: 9px;
    left: 43%;
    transform: rotate(90deg) translateX(-50%);
  }
  span {
    display: none;
    margin-top: 5px;
  }
}

#sectionAbout[data-scroll="in"] .backToTop,
#sectionGallery[data-scroll="in"] .backToTop,
#sectionRecommends[data-scroll="in"] .backToTop,
#sectionContact[data-scroll="in"] .backToTop {
  visibility: visible;
  opacity: 0.8;
}

.languageChange {
  font-size: 12px;
  letter-spacing: 0.5px;
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 10px;
  cursor: pointer;
  position: fixed;
  bottom: -20px;
  left: 200px;
  z-index: 99;
  padding: 5px;
  transition: all 1s;
  // display: block;
  display: none;

  @media (min-width: $screen-md-min) {
    display: block;
  }

  body.menu-collapsed & {
    left: 130px;
  }

  &:hover {
    span {
      z-index: 10;
      // transform: scale(1);
      opacity: 1;

      &:first-child {
        top: -30px;
        left: 3px;
      }

      &:last-child {
        top: 0px;
        left: 40px;
      }
    }
  }

  i {
    color: var(--color-2);
    font-size: $f28 - 2;
    font-family: $icomoon;

    padding: 40px 40px 0 10px;
    margin-left: -10px;
  }

  span {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    letter-spacing: initial;
    color: var(--color-2);
    opacity: 0;
    position: absolute;
    transition: all 0.3s;

    &:first-child {
      top: 0px;
      left: 0px;
    }

    &:last-child {
      top: 0px;
      left: 0px;
    }

    &:hover {
      color: var(--color-3);
    }
  }
}

.toggle-mode {
  position: fixed;
  top: 25px;
  right: 10px;
  z-index: 99;

  @media screen and(min-width:$screen-md-min) {
    bottom: 0px;
    top: initial;
  }

  i {
    color: var(--color-2);
    -webkit-text-fill-color: var(
      --color-2
    ); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--color-2);

    font-size: $f10;

    &.icon-moon {
      font-size: $f10 - 2;
      padding-top: 1px;
    }
  }

  .label {
    display: block;
    align-items: center;
    cursor: pointer;
    color: var(--color-2);
    text-align: center;
  }

  .label-text {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 0 3px;
    margin-bottom: 3px;
  }

  .toggle {
    isolation: isolate;
    position: relative;
    height: 12px;
    width: 34px;
    border-radius: 7.5px;
    overflow: hidden;
    border: 1px solid var(--color-2);
  }

  .toggle-state {
    display: none;
  }

  .indicator {
    height: 100%;
    width: 200%;
    background: var(--color-2);
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  }

  .toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
  }
}
