@keyframes filling {
  from {
    width: 0;
    background-color: var(--color-3);
  }
  to {
    width: 100%;
  }
}

@keyframes loading {
  from {
    width: attr(style= "width");
  }
  to {
    width: 0;
  }
}


@keyframes rocketb-sm {
  0% {
    color: #e5b648;
    transform: translate(0, 0) scale(1);
    filter: drop-shadow(-10px 10px 5px #059bff);
  }
  50% {
    color: #e5b648;
    transform: translate(30vw, -30vh) scale(5);
    filter: drop-shadow(-10px 10px 5px #9b4fff);
  }
  100% {
    color: #e5b648;
    transform: translate(100vw, -100vh) scale(20);
    filter: drop-shadow(-10px 10px 5px #9b4fff);
  }
}

@keyframes rocketb-md {
  0% {
    color: #e5b648;
    transform: translate(0, 0) scale(1);
    filter: drop-shadow(-10px 10px 5px #6effa6);
  }
  50% {
    color: #e5b648;
    transform: translate(10vw, -30vh) scale(5);
    filter: drop-shadow(-10px 10px 5px #00a2ff);
  }
  100% {
    color: #e5b648;
    transform: translate(40vw, -100vh) scale(20);
    filter: drop-shadow(-10px 10px 5px #6200ff);
  }
}

@keyframes paper-plane {
  0%{
    transform: translate(0vw,-0vh);
  }
 
  40%{
    color: var(--color-2);
    transform: translate(5vw,-11vh) rotate(170deg);
  }
  70%{
    color: var(--color-2);
    transform: translate(-2vw,5vh) rotate(210deg);
  }
  76%{
    color: var(--color-2);
    transform: translate(-2vw,5vh) rotate(320deg);
  }
  
  95%{
    color: var(--color-2);
    transform: translate(-1.5vw,3vh) rotate(360deg);
  }
  
  
  100%{
    color: var(--color-1);
    transform: translate(0vw,0vh) rotate(360deg);
  }
}

@keyframes pulsing-heart {
  0% {
    color: crimson;
    transform: scale(1);
    filter: drop-shadow(0px 6px 3px rgba(black, .4));
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1.3);
    filter: drop-shadow(0px 6px 3px rgba(black, .2));
  }
  85% {
    transform: scale(1.15);
  }
  100% {
    color: crimson;
    transform: scale(1);
    filter: drop-shadow(0px 6px 3px rgba(black, .4));
  }
}

@keyframes colourMe {
  0%{
    filter: saturate(0) brightness(70%);
  }
  .1%{
    filter: saturate(1) brightness(100%);
  }
  100%{
    filter: saturate(0) brightness(70%);
  }
  
}