$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-painting: "\e905";
$icon-services: "\e920";
$icon-tools: "\e921";
$icon-link: "\e901";
$icon-mail: "\e902";
$icon-gallery: "\e903";
$icon-blazer: "\e904";
$icon-logo: "\e906";
$icon-poly: "\e913";
$icon-camera: "\e914";
$icon-pencil: "\e915";
$icon-screen: "\e916";
$icon-moon: "\e917";
$icon-sun: "\e918";
$icon-mark: "\e919";
$icon-comment: "\e91a";
$icon-web: "\e91b";
$icon-heart: "\e91c";
$icon-heart-solid: "\e91d";
$icon-times: "\e91e";
$icon-check: "\e91f";
$icon-heart-line: "\e922";
$icon-home: "\e924";
$icon-info: "\e909";
$icon-house: "\e911";
$icon-angle-right: "\e908";
$icon-angle-left: "\e90b";
$icon-rocket: "\e907";
$icon-facebook: "\e912";
$icon-angle-double-right: "\e90a";
$icon-angle-double-left: "\e90d";
$icon-github: "\e90c";
$icon-whatsapp: "\e90e";
$icon-linkedin: "\e90f";
$icon-behance: "\e910";
$icon-paperplane: "\e900";
$icon-language: "\e923";

