// MEDIA QUERIES

$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$screen-xs-min: $screen-xs;
$screen-xs-max: $screen-sm - 1px;

$screen-sm-min: $screen-sm;
$screen-sm-max: $screen-md - 1px;

$screen-md-min: $screen-md;
$screen-md-max: $screen-lg - 1px;

//PESOS DE FONTE
$lighten: 300;
$normal: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 900;
