<div class="about">
  <div class="container">
    <div class="content-block" style="position: relative;">
      <span class="shadow">about</span>
      <h1 class="title-section">about</h1>
      <div class="row">
        <div class="col-12 col-lg-6 order-12">
          <div class="first-block">
            <br>
            <h3 class="text-light">skills</h3>
            <div class="loading-bar">
              <span>CSS/LESS/SASS</span>
              <div class="fundo">
                <div class="load" style="width:95%"></div>
              </div>
            </div>
            <div class="loading-bar">
              <span>Javascript</span>
              <div class="fundo">
                <div class="load" style="width:70%"></div>
              </div>
            </div>           
            <div class="loading-bar">
              <span>Illustrator</span>
              <div class="fundo">
                <div class="load" style="width:85%"></div>
              </div>
            </div>
            <div class="loading-bar">
              <span>Photoshop</span>
              <div class="fundo">
                <div class="load" style="width:85%"></div>
              </div>
            </div>
            <div class="loading-bar">
              <span>Creativity</span>
              <div class="fundo">
                <div class="load" style="width:95%"></div>
              </div>
            </div>
            <div class="loading-bar">
              <span>Humor</span>
              <div class="fundo">
                <div class="load" style="width:90%"></div>
              </div>
            </div>
            <div class="loading-bar">
              <span>Commitment</span>
              <div class="fundo">
                <div class="load" style="width:100%"></div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-12 col-lg-6 order-lg-12">
          <div class="second-block">
            <div id="carouselAbout" class="carousel carousel-fade" data-ride="carousel">
              <div class="carousel-inner">
                <div class="text">
                  <div class="carousel-item active">
                    <p>"Hey! I'm Willian and, one of the things that I enjoy the most in life is to CREATE!</br>I can't
                      even translate the freedom this simple word brings to me...
                    </p>
                  </div>
                  <div class="carousel-item">
                    <p>"... My story with art began at my childhood when I came across comic books and tried to copy, page by
                      page, the characters from Marvel,
                      DC Comics... And even the gunslinger cowboy, Tex, didn't go unnoticed by my pencil...
                    </p>
                  </div>
                  <div class="carousel-item">
                    <p>"... In the meantime, I ended up fascinated by computers and, all by myself, I've learned a lot about
                      them.
                      Just some time later, I've noticed that I could bring more life to my drawings if I brought them to my
                      virtual environment. It would be exciting!...
                    </p>
                  </div>
                  <div class="carousel-item">
                    <p>"... Without noticing, it was, there, emerging my passion for digital design.
                      </br>
                      Right after, I found out that, with programming, I could expand my acting horizons even further.
                      So I started, in parallel, to study it and I definitely plunged into it...
                    </p>
                  </div>
                  <div class="carousel-item">
                    <p>"... Therefore, all the creative aspect shown in my story collaborated to a perfect symbiosis:
                      these connections between interests
                      and aptitudes are what today allow me to create important and attractive graphic representations
                      for the most varied projects."
                      </br></br>Mr.W        
                    </p>
                  </div>
                </div>

              </div>
              <ol class="carousel-indicators">
                <li data-target="#carouselAbout" data-slide-to="0" class="active"></li>
                <li data-target="#carouselAbout" data-slide-to="1"></li>
                <li data-target="#carouselAbout" data-slide-to="2"></li>
                <li data-target="#carouselAbout" data-slide-to="3"></li>
                <li data-target="#carouselAbout" data-slide-to="4"></li>
              </ol>
              <a class="carousel-control-prev" href="#carouselAbout" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselAbout" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#sectionHome" class="backToTop"><i class="icon-angle-left"></i><span>TOP</span></a>
</div>