<div class="about">
  <div class="container">
    <div class="content-block" style="position: relative;">
      <span class="shadow">about</span>
      <h1 class="title-section">about</h1>
      <div class="row">
        <div class="col-12 col-lg-6 order-12">
          <div class="first-block">
            <br>
            <h3 class="text-light">skills</h3>
            <div class="loading-bar">
              <span>Web development (HTML/SASS/JS/ReactJs/NextJS/GraphQL)</span>
              <div class="fundo">
                <div class="load" style="width:98%"></div>
              </div>
            </div>
            <div class="loading-bar">
              <span>Illustrator and Photoshop</span>
              <div class="fundo">
                <div class="load" style="width:85%"></div>
              </div>
            </div>
            <div class="loading-bar">
              <span>Creativity</span>
              <div class="fundo">
                <div class="load" style="width:95%"></div>
              </div>
            </div>
            <div class="loading-bar">
              <span>Mood</span>
              <div class="fundo">
                <div class="load" style="width:95%"></div>
              </div>
            </div>
            <div class="loading-bar">
              <span>Commitment</span>
              <div class="fundo">
                <div class="load" style="width:100%"></div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-12 col-lg-6 order-lg-12">
          <div class="second-block">
            <div id="carouselAbout" class="carousel carousel-fade" data-ride="carousel">
              <div class="carousel-inner">
                <div class="text">
                  <div class="carousel-item active">
                    <p>"Hello! My name is Willian and one of the things I love the most in life is: CREATING! The freedom that this simple word brings me, I cannot describe...
                    </p>
                  </div>
                  <div class="carousel-item">
                    <p>"... My story with art started in childhood when I found myself totally immersed in comics and tried to copy, page by page, Marvel and DC Comics characters... Even the cowboy and gunslinger, Tex, didn't go unnoticed by the tip of my pencil...
                    </p>
                  </div>
                  <div class="carousel-item">
                    <p>"... In the meantime, I became fascinated with computers and, on my own, learned a lot about them. </br>Only some time later, I realized that I could bring more life to my drawings if I brought them to the digital realm...
                    </p>
                  </div>
                  <div class="carousel-item">
                    <p>"... Gradually, without realizing it, my passion for digital design was emerging.
                    </br>    
                    I soon discovered that with programming, I could expand even further my horizons of action; I started to study it in parallel and plunged headlong into the field...      
                    </p>
                  </div>
                  <div class="carousel-item">
                    <p>"... Today, I can say that every creative aspect present in my story contributed to a perfect symbiosis: these connections between interests and skills are what allow me today to create important and attractive graphic representations for the most varied projects."
                  </br>  
                  </br>Mr.W
                  </div>
                </div>

              </div>
              <ol class="carousel-indicators">
                <li data-target="#carouselAbout" data-slide-to="0" class="active"></li>
                <li data-target="#carouselAbout" data-slide-to="1"></li>
                <li data-target="#carouselAbout" data-slide-to="2"></li>
                <li data-target="#carouselAbout" data-slide-to="3"></li>
                <li data-target="#carouselAbout" data-slide-to="4"></li>
              </ol>
              <a class="carousel-control-prev" href="#carouselAbout" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselAbout" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#sectionHome" class="backToTop"><i class="icon-angle-left"></i><span>TOP</span></a>
</div>