<div class="gallery">
      <div class="container">
            <div class="content-block" style="position: relative;">
                  <span class="shadow">portfolio</span>
                  <h1 class="title-section">portfolio</h1>
                  <div class="wrapper">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                              <li class="nav-item">
                                    <a class="nav-link active" id="logos-tab" data-toggle="tab" href="#logos" role="tab" aria-controls="logos" aria-selected="true"><i class="icon-logo"></i> Logos</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" id="websites-tab" data-toggle="tab" href="#websites" role="tab" aria-controls="websites" aria-selected="false"><i class="icon-web"></i>
                                          Websites</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" id="drawings-tab" data-toggle="tab" href="#drawings" role="tab" aria-controls="drawings" aria-selected="false"><i class="icon-pencil"></i>
                                          Drawings</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" id="low-poly-tab" data-toggle="tab" href="#low-poly" role="tab" aria-controls="low-poly" aria-selected="false"><i class="icon-poly"></i>
                                          Low-poly</a>
                              </li>
                              <!-- <li class="nav-item">
                                    <a class="nav-link" id="photography-tab" data-toggle="tab" href="#photography"
                                          role="tab" aria-controls="photography" aria-selected="false"><i
                                                class="icon-camera"></i>
                                          Photography</a>
                              </li> -->
                        </ul>
                        <div class="tab-content" id="myTabContent">
                              <div class="tab-pane fade show active" id="logos" role="tabpanel" aria-labelledby="logos-tab">
                                    <div class="aria">
                                          <div class="capsule" data-name=""><a href="img/gallery/logos/rodstore.jpg"><img src="img/thumbs/logos/thumb-rodstore.jpg" title="RodStore Importados - Branding Project for a store"></a>
                                          </div>
                                          <div class="capsule" data-name=""><a href="img/gallery/logos/acacio.png"><img src="img/thumbs/logos/thumb-acacio.png" title="Acacio Advocacia - Branding Project for a law office"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/logos/dna.jpg"><img src="img/thumbs/logos/thumb-dna.jpg" title="DNA Personal - Logo Project for a personal trainer"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/logos/automarques.jpg"><img src="img/thumbs/logos/thumb-automarques.jpg" title="Auto Marques - Logo Project for automotive services"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/logos/blue.png"><img src="img/thumbs/logos/thumb-blue.png" title="Blue Rabbit - Logo Project for my very first free font"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/logos/fiore.jpg"><img src="img/thumbs/logos/thumb-fiore.jpg" title="Vinicius Di Fiore - Logo Project for a personal trainer"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/logos/jp.jpg"><img src="img/thumbs/logos/thumb-jp.jpg" title="Jp Multimarcas - Branding Project for a car shop"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/logos/macaw.jpg"><img src="img/thumbs/logos/thumb-macaw.jpg" title="MacawOrEye - Logo"></a>
                                          </div>
                                          <!-- <div class="capsule"><a
                                                      href="img/gallery/logos/ophelia-foricultura.jpg"><img
                                                            src="img/thumbs/logos/thumb-ophelia-foricultura.jpg"
                                                            title="Ophelia Floricultura - Logo Project for a flower shop "></a>
                                          </div> -->
                                          <div class="capsule"><a href="img/gallery/logos/pandoo.jpg"><img src="img/thumbs/logos/thumb-pandoo.jpg" title="Pandoo, Panda Conservation - Logo Project for the #dailylogochallenge "></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/logos/spartan.jpg"><img src="img/thumbs/logos/thumb-spartan.jpg" title="Spartan - Logo Project for study"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/logos/tinyfox.jpg"><img src="img/thumbs/logos/thumb-tinyfox.jpg" title="Tiny Fox - Logo Project for study"></a>
                                          </div>
                                    </div>
                              </div>
                              <div class="tab-pane fade" id="websites" role="tabpanel" aria-labelledby="websites-tab">
                                    <div class="aria">
                                          <div class="capsule"><a href="img/gallery/websites/mrwsite.jpg"><img src="img/thumbs/websites/thumb-mrwsite.jpg" title="This site <3"></a></div>
                                          <div class="capsule"><a href="img/gallery/websites/autoglass.jpg"><img src="img/thumbs/websites/thumb-autoglass.png" title="A e-commerce by Maeztra - Front End"></a></div>
                                          <div class="capsule" data-name=""><a href="img/gallery/websites/trillo-0.jpg"><img src="img/thumbs/websites/thumb-trillo.jpg" title="A booking hotel site - Front End"></a></div>
                                          <div class="capsule" data-name=""><a href="img/gallery/websites/tnf-desk.png"><img src="img/thumbs/websites/thumb-tnf.png" title="A e-commerce by Maeztra - Front End"></a></div>
                                    </div>
                              </div>
                              <div class="tab-pane fade" id="drawings" role="tabpanel" aria-labelledby="drawings-tab">
                                    <div class="aria">
                                          <div class="capsule"><a href="img/gallery/drawings/will.jpg"><img src="img/thumbs/drawings/thumb-will.jpg" title="Will Smith actor- Pencil draw"></a></div>
                                          <div class="capsule" data-name=""><a href="img/gallery/drawings/heisenberg.jpg"><img src="img/thumbs/drawings/thumb-heisenberg.jpg" title="Mr.White Breaking Bad - Pencil draw"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/drawings/dunas.jpg"><img src="img/thumbs/drawings/thumb-dunas.jpg" title="Phillipe Dunas model - Pencil draw"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/drawings/wylona.jpg"><img src="img/thumbs/drawings/thumb-wylona.jpg" title="Wylona Hayashi influencer - Pencil draw"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/drawings/ariana-grande.jpg"><img src="img/thumbs/drawings/thumb-ariana-grande.jpg" title="Ariana Grande singer - Pencil draw"></a></div>
                                          <div class="capsule"><a href="img/gallery/drawings/davi.jpg"><img src="img/thumbs/drawings/thumb-davi.jpg" title="Davi - Pencil draw"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/drawings/fog.jpg"><img src="img/thumbs/drawings/thumb-fog.jpg" title="Fog - Reinterpretation of a photo on web - Pencil draw"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/drawings/depp.jpg"><img src="img/thumbs/drawings/thumb-depp.jpg" title="Johnny Depp actor - Pencil draw"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/drawings/rihannna.jpg"><img src="img/thumbs/drawings/thumb-rihannna.jpg" title="Rihanna singer - Pencil draw"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/drawings/mr-bean.jpg"><img src="img/thumbs/drawings/thumb-mr-bean.jpg" title="Mr. Bean actor - Pencil draw"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/drawings/terry-crews.jpg"><img src="img/thumbs/drawings/thumb-terry-crews.jpg" title="Terry Crews actor - Pencil draw"></a></div>
                                    </div>

                              </div>
                              <div class="tab-pane fade" id="low-poly" role="tabpanel" aria-labelledby="low-poly-tab">
                                    <div class="aria">
                                          <div class="capsule"><a href="img/gallery/lowpolys/groot.jpg"><img src="img/thumbs/lowpoly/thumb-groot.jpg" title="Groot - Guardians of the Galaxy 2"></a></div>
                                          <div class="capsule" data-name=""><a href="img/gallery/lowpolys/will.jpg"><img src="img/thumbs/lowpoly/thumb-will.jpg" title="Will Smith actor"></a></div>
                                          <div class="capsule"><a href="img/gallery/lowpolys/mike.jpg"><img src="img/thumbs/lowpoly/thumb-mike.jpg" title="Mike Wazowski - Monster Inc."></a></div>
                                          <div class="capsule"><a href="img/gallery/lowpolys/fox.jpg"><img src="img/thumbs/lowpoly/thumb-fox.jpg" title="White Fox"></a></div>
                                    </div>
                              </div>

                              <!-- <div class="tab-pane fade" id="photography" role="tabpanel"
                                    aria-labelledby="photography-tab">
                                    <div class="aria">
                                          <div class="capsule"><a
                                                      href="img/gallery/photography/universe-watch.jpg"><img
                                                            src="img/thumbs/photography/thumb-universe-watch.jpg"
                                                            title="Universe Time- Hobbie Photography"></a></div>
                                          <div class="capsule" data-name=""><a
                                                      href="img/gallery/photography/sunrise.jpg""><img
                                                            src=" img/thumbs/photography/thumb-sunrise.jpg"
                                                      title="Gorgeous Sunrise - Hobbie Photography"></a></div>
                                          <div class="capsule"><a
                                                      href="img/gallery/photography/guitar-night.jpg"><img
                                                            src="img/thumbs/photography/thumb-guitar-night.jpg"
                                                            title="Silhouette in the dawn - Hobbie Photography"></a>
                                          </div>
                                          <div class="capsule"><a
                                                      href="img/gallery/photography/subway.jpg"><img
                                                            src="img/thumbs/photography/thumb-subway.jpg"
                                                            title="Subway SP - Hobbie Photography"></a></div>
                                          <div class="capsule"><a href="img/gallery/photography/lamp.jpg"><img
                                                            src="img/thumbs/photography/thumb-lamp.jpg"
                                                            title="Look What I Found, own song authorship - Hobbie Photography"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/photography/penha.jpg"><img
                                                            src="img/thumbs/photography/thumb-penha.jpg"
                                                            title="Penha District - Hobbie Photography"></a>
                                          </div>
                                          <div class="capsule"><a href="img/gallery/photography/rose.jpg"><img
                                                            src="img/thumbs/photography/thumb-rose.jpg"
                                                            title="Rose at the House of Roses  - Hobbie Photography"></a>
                                          </div>
                                          <div class="capsule"><a
                                                      href="img/gallery/photography/julliete.jpg"><img
                                                            src="img/thumbs/photography/thumb-julliete.jpg"
                                                            title="Julliete - Hobbie Photography"></a></div>
                                          <div class="capsule"><a
                                                      href="img/gallery/photography/lighter.jpg"><img
                                                            src="img/thumbs/photography/thumb-lighter.jpg"
                                                            title="Sparks in the dark - Hobbie Photography"></a></div>
                                    </div>
                              </div> -->
                        </div>
                  </div>
                  <div class="primary-button" id="discover">
                        <i class="icon-rocket"></i>
                        <!-- <a href="https://be.net/mrwsantos" target="_blank">discover more</a> -->
                        <a>discover more</a>
                  </div>
            </div>
      </div>
      <a href="#sectionHome" class="backToTop"><i class="icon-angle-left"></i><span>TOP</span></a>
</div>