<div class="recommendations">
  <div class="container">
    <div class="content-block" style="position: relative">
      <span class="shadow">recommends</span>
      <h1 class="title-section">recommendations</h1>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="first-block">
            <div
              id="carouselComments"
              class="carousel carousel-fade"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="text">
                  <div class="carousel-item active">
                    <div class="carousel-caption">
                      <div class="carousel-block">
                        <figure class="recommendations__image-shape">
                          <img
                            src="img/recommendations/rodney.png"
                            alt="Selfie"
                            class="recommendations__image"
                          />
                        </figure>
                        <p>
                          "As the owner of the RodStore Importados brand, I
                          became even more passionate about the brand when I saw
                          the logo developed by Willian. It was sensational,
                          beyond my expectations. I was speechless to describe
                          my feeling after the work was completed. I faithfully
                          recommend Willian for the development of your brand.
                          Congratulations on the work!"
                          <small>Rodney Matheus</small>
                          <small>Owner of RodStore Importados</small>
                          <small>2021</small>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <div class="carousel-block">
                        <figure class="recommendations__image-shape">
                          <img
                            src="img/recommendations/ionerivera.jpg"
                            alt="Selfie"
                            class="recommendations__image"
                          />
                        </figure>
                        <p>
                          "Golden boy! He restored the only picture I had of my
                          father, which was very old. I was amazed!"
                          <small>Ione Rivera</small>
                          <small>Occupational safety technician</small>
                          <small>2020</small>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <figure class="recommendations__image-shape">
                        <img
                          src="img/recommendations/nilza.jpg"
                          alt="Selfie"
                          class="recommendations__image"
                        />
                      </figure>
                      <p>
                        "Willian worked with us for 2 years successfully
                        developing various projects. He possesses creative and
                        artistic skills in the development of digital graphic
                        representations. He is correct, competent, responsible,
                        punctual, and dedicated to the commitment assumed with
                        the company, reasons that lead us to recommend his
                        work."
                        <small>Nilza Ferreira</small>
                        <small>Director at Colégio Presbiteriano do Brás</small>
                        <small>2020</small>
                      </p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <figure class="recommendations__image-shape">
                        <img
                          src="img/recommendations/ophelia.jpg"
                          alt="Selfie"
                          class="recommendations__image"
                        />
                      </figure>
                      <p>
                        "An enlightened human being, a complete artist! Attentive, patient, intelligent, and visionary. I loved having him with us to develop our visual identity."
                        <small>Ofélia Fernandes</small>
                        <small>Owner at Ophelia Floricultura</small>
                        <small>2020</small>
                      </p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <figure class="recommendations__image-shape">
                        <img
                          src="img/recommendations/acacio.jpg"
                          alt="Selfie"
                          class="recommendations__image"
                        />
                      </figure>
                      <p>
                        "From the beginning, he showed himself to be immersed in the project. He saw things beyond what I myself could imagine. All the steps culminated in us having a very pleasant and productive experience. Without hesitation, I recommended him to two of my friends. When a person loves what they do, the results are surprising. Grade A!"
                        <small>Acácio Louveira</small>
                        <small>Lawyer and owner at Acácio Advocacia</small>
                        <small>2020</small>
                      </p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <figure class="recommendations__image-shape">
                        <img
                          src="img/recommendations/manhani.jpg"
                          alt="Selfie"
                          class="recommendations__image"
                        />
                      </figure>
                      <p>
                        "I followed Willian on his journey for two years and he really has exceptional creative potential. It is undeniable that as a professional he is correct, competent, and responsible, and as a human being he demonstrates the person he is through his art, that is, an inspiring person!"
                        <small>Vitor Gomes Manhani</small>
                        <small>Computational Scientist</small>
                        <small>2020</small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <ol class="carousel-indicators">
                <li
                  data-target="#carouselComments"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li data-target="#carouselComments" data-slide-to="1"></li>
                <li data-target="#carouselComments" data-slide-to="2"></li>
                <li data-target="#carouselComments" data-slide-to="3"></li>
                <li data-target="#carouselComments" data-slide-to="4"></li>
                <li data-target="#carouselComments" data-slide-to="5"></li>
              </ol>
              <a
                class="carousel-control-prev"
                href="#carouselComments"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselComments"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="second-block text-center">
            <div class="content">
              <hr class="d-xs-block d-sm-block d-lg-none" />
              <h3>Do you want to write something about me?</h3>
              <p>Your comments could be on that carousel! :D</p>
              <div class="primary-button btn-recommendation">
                <i class="icon-heart-solid"></i>
                <a href="#sectionContact">click here</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#sectionHome" class="backToTop"
    ><i class="icon-angle-left"></i><span>TOP</span></a
  >
</div>
