<div class="services">
  <div class="container">
    <div class="content-block" style="position: relative;">
      <span class="shadow">services</span>
      <h1 class="title-section">services</h1>
      <div class="card">
        <div class="card__item">
          <div class="block">
            <i class="icon-logo service"></i>
            <h5>Visual Identities</h5>
            <p>Projects with <b>modern, minimalist</b>, <b>elegant</b> and memorable designs to accurately translate the <b>essence</b> of your brand.</p>
              <ul>
                <li>Logos;</li>
                <li>Business Cards;</li>
                <li>Slogan e more...</li>
              </ul>
          </div>
        </div>
        <div class="card__item">
          <div class="block">
            <i class="icon-web service"></i>
            <h5>Institutional Websites & Landing-pages</h5>
            <p>Have you ever thought <b>about promoting your products, services</b>, or even your <b>resume</b> or <b>personal portfolio</b>? 
              It can be a huge advantage for you when it comes to getting more clients or reaching potential employers!</br>
            <span>We can bring your ideas to life! :D</span></p>
          </div>
        </div>
        <div class="card__item">
          <div class="block">
            <i class="icon-pencil service"></i>
            <h5>Pencil Portraits</h5>
            <p>Do you want to transform and preserve <b>that photo</b> you <b>cherish so much</b>, or give someone a realistic portrait <b>that captures meaningful moments?</b></p>
            <span>I can help you with that! :D</span>
          </div>
          
        </div>
        <div class="card__item">
          <div class="block">
            <i class="icon-poly service"></i>
            <h5>Low Poly Illustrations</h5>
            <p>Do you want to <b>give a new look</b> to your photos or even frame a scene from an <b>amazing moment</b> you had?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#sectionHome" class="backToTop"><i class="icon-angle-left"></i><span>TOP</span></a>
</div>