<div class="about">
  <div class="container">
    <div class="content-block" style="position: relative;">
      <span class="shadow">sobre</span>
      <h1 class="title-section">sobre mim</h1>
      <div class="row">
        <div class="col-12 col-lg-6 order-12">
          <div class="first-block">
            <br>
            <h3 class="text-light">habilidades</h3>
            <div class="loading-bar">
              <span>Desenvolvimento Web (HTML/SASS/JS/ReactJs/NextJS/GraphQL)</span>
              <div class="fundo">
                <div class="load" style="width:98%"></div>
              </div>
            </div>
            <div class="loading-bar">
              <span>Illustrator e Photoshop</span>
              <div class="fundo">
                <div class="load" style="width:85%"></div>
              </div>
            </div>
            <div class="loading-bar">
              <span>Criatividade</span>
              <div class="fundo">
                <div class="load" style="width:95%"></div>
              </div>
            </div>
            <div class="loading-bar">
              <span>Bom Humor</span>
              <div class="fundo">
                <div class="load" style="width:95%"></div>
              </div>
            </div>
            <div class="loading-bar">
              <span>Comprometimento</span>
              <div class="fundo">
                <div class="load" style="width:100%"></div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-12 col-lg-6 order-lg-12">
          <div class="second-block">       
            <div id="carouselAbout" class="carousel carousel-fade" data-ride="carousel">
              <div class="carousel-inner">
                <div class="text">
                  <div class="carousel-item active">
                    <p>"Olá! Eu me chamo Willian e, uma das coisas que eu mais gosto na vida é: CRIAR!</br>A liberdade que
                      esta simples palavra me traz, não sou capaz de descrever...
                    </p>
                  </div>
                  <div class="carousel-item">
                    <p>"... Minha história com a arte começou na infância
                      quando eu me via totalmente imerso nos gibis e tentava copiar, folha a folha, os personagens da Marvel, da DC Comics... Até
                      mesmo o caubói e pistoleiro, Tex, não passou despercebido pela ponta do meu lápis...
                    </p>
                  </div>
                  <div class="carousel-item">
                    <p>"... Nesse meio tempo acabei me fascinando por computadores e, por conta própria, aprendi muito sobre eles. </br>Só algum tempo mais tarde,
                      notei que poderia dar mais vida aos meus desenhos se os trouxessem para o meio virtual...      
                    </p>
                  </div>
                  <div class="carousel-item">
                    <p>"... Aos poucos, sem perceber, estava surgindo minha paixão pelo design digital.
                    </br>    
                    Acabei descobrindo logo então, que com a programação, eu poderia expandir ainda mais meus horizontes de atuação; comecei assim, paralelamente, a estudá-la e entrei de cabeça na área...      
                    </p>
                  </div>
                  <div class="carousel-item">
                    <p>"... Hoje, posso dizer que todo aspecto criativo presente em minha história colaborou para uma simbiose perfeita: estas conexões entre interesses e aptidões são o que
                      hoje me permitem criar importantes e atraentes representações gráficas para os mais variados projetos." 
                  </br>  
                  </br>Mr.W
                  </div>
                </div>

              </div>
              <ol class="carousel-indicators">
                <li data-target="#carouselAbout" data-slide-to="0" class="active"></li>
                <li data-target="#carouselAbout" data-slide-to="1"></li>
                <li data-target="#carouselAbout" data-slide-to="2"></li>
                <li data-target="#carouselAbout" data-slide-to="3"></li>
                <li data-target="#carouselAbout" data-slide-to="4"></li>
              </ol>
              <a class="carousel-control-prev" href="#carouselAbout" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
              </a>
              <a class="carousel-control-next" href="#carouselAbout" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#sectionHome" class="backToTop"><i class="icon-angle-left"></i><span>TOPO</span></a>
</div>