<div class="gallery">
      <div class="container">
            <div class="content-block" style="position: relative;">
                  <span class="shadow">portfólio</span>
                  <h1 class="title-section">portfólio</h1>
                  <div class="wrapper">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                              <li class="nav-item">
                                    <a class="nav-link active" id="logos-tab" data-toggle="tab" href="#logos" role="tab"
                                          aria-controls="logos" aria-selected="true"><i class="icon-logo"></i> Logos</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" id="websites-tab" data-toggle="tab" href="#websites" role="tab"
                                          aria-controls="websites" aria-selected="false"><i class="icon-web"></i>
                                          Websites</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" id="drawings-tab" data-toggle="tab" href="#drawings" role="tab"
                                          aria-controls="drawings" aria-selected="false"><i class="icon-pencil"></i>
                                          Desenhos</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" id="low-poly-tab" data-toggle="tab" href="#low-poly" role="tab"
                                          aria-controls="low-poly" aria-selected="false"><i class="icon-poly"></i>
                                          Low-poly</a>
                              </li>
                              <!-- <li class="nav-item">
                                    <a class="nav-link" id="photography-tab" data-toggle="tab" href="#photography"
                                          role="tab" aria-controls="photography" aria-selected="false"><i
                                                class="icon-camera"></i>
                                          Fotografia</a>
                              </li> -->
                        </ul>
                        <div class="tab-content" id="myTabContent">
                              <div class="tab-pane fade show active" id="logos" role="tabpanel"
                                    aria-labelledby="logos-tab">
                                    <div class="aria">
                                          <div class="capsule" data-name=""><a
                                                href="../../../img/gallery/logos/rodstore.jpg"><img
                                                      src="../../../img/thumbs/logos/thumb-rodstore.jpg"
                                                      title="RodStore Importados - Projeto de Brand para uma loja de importação de produtos"></a>
                                          </div>
                                          <div class="capsule" data-name=""><a
                                                      href="../../../img/gallery/logos/acacio.png"><img
                                                            src="../../../img/thumbs/logos/thumb-acacio.png"
                                                            title="Acacio Advocacia - Projeto de Brand para um escritório de advocacia"></a>
                                          </div>
                                          <div class="capsule"><a href="../../../img/gallery/logos/dna.jpg"><img
                                                            src="../../../img/thumbs/logos/thumb-dna.jpg"
                                                            title="DNA Personal - Projeto de logotipo para uma personal trainer"></a>
                                          </div>
                                          <div class="capsule"><a href="../../../img/gallery/logos/automarques.jpg"><img
                                                            src="../../../img/thumbs/logos/thumb-automarques.jpg"
                                                            title="Auto Marques - Projeto de logotipo para uma mecânica automotiva"></a>
                                          </div>
                                          <div class="capsule"><a href="../../../img/gallery/logos/blue.png"><img
                                                            src="../../../img/thumbs/logos/thumb-blue.png"
                                                            title="Blue Rabbit - Projeto de logotipo para minha primeira fonte inteiramente grátis!"></a>
                                          </div>
                                          <div class="capsule"><a href="../../../img/gallery/logos/fiore.jpg"><img
                                                            src="../../../img/thumbs/logos/thumb-fiore.jpg"
                                                            title="Vinicius Di Fiore - Projeto de logotipo para um personal trainer"></a>
                                          </div>
                                          <div class="capsule"><a href="../../../img/gallery/logos/jp.jpg"><img
                                                            src="../../../img/thumbs/logos/thumb-jp.jpg"
                                                            title="Jp Multimarcas - Projeto de Brand para uma agência de carros"></a>
                                          </div>
                                          <div class="capsule"><a href="../../../img/gallery/logos/macaw.jpg"><img
                                                            src="../../../img/thumbs/logos/thumb-macaw.jpg"
                                                            title="MacawOrEye - Logo"></a>
                                          </div>
                                          <!-- <div class="capsule"><a
                                                      href="../../../img/gallery/logos/ophelia-foricultura.jpg"><img
                                                            src="../../../img/thumbs/logos/thumb-ophelia-foricultura.jpg"
                                                            title="Ophelia Floricultura - Projeto de logotipo para uma floricultura"></a></div> -->
                                          <div class="capsule"><a href="../../../img/gallery/logos/pandoo.jpg"><img
                                                            src="../../../img/thumbs/logos/thumb-pandoo.jpg"
                                                            title="Pandoo, Panda Conservation -  Projeto de logotipo para o desafio #dailylogochallenge "></a>
                                          </div>
                                          <div class="capsule"><a href="../../../img/gallery/logos/spartan.jpg"><img
                                                            src="../../../img/thumbs/logos/thumb-spartan.jpg"
                                                            title="Spartan - Projeto de logotipo para estudo"></a>
                                          </div>
                                          <div class="capsule"><a href="../../../img/gallery/logos/tinyfox.jpg"><img
                                                            src="../../../img/thumbs/logos/thumb-tinyfox.jpg"
                                                            title="Tiny Fox - Projeto de logotipo para estudo"></a>
                                          </div>
                                    </div>
                              </div>
                              <div class="tab-pane fade" id="websites" role="tabpanel" aria-labelledby="websites-tab">
                                    <div class="aria">
                                          <div class="capsule"><a href="../../../img/gallery/websites/mrwsite.jpg"><img
                                                            src="../../../img/thumbs/websites/thumb-mrwsite.jpg"
                                                            title="Este site que você está <3"></a></div>
                                          <div class="capsule"><a href="../../../img/gallery/websites/autoglass.jpg"><img
                                                            src="../../../img/thumbs/websites/thumb-autoglass.png"
                                                            title="E-commerce desenvolvido pela Maeztra - DEV Front End"></a></div>
                                          <div class="capsule" data-name=""><a
                                                      href="../../../img/gallery/websites/trillo-0.jpg"><img
                                                            src="../../../img/thumbs/websites/thumb-trillo.jpg"
                                                            title="Um site de reserva de hotéis - Front End"></a></div>
                                          <div class="capsule" data-name=""><a
                                                      href="../../../img/gallery/websites/tnf-desk.png"><img
                                                            src="../../../img/thumbs/websites/thumb-tnf.png"
                                                            title="E-commerce desenvolvido pela Maeztra - DEV Front End"></a></div>
                                    </div>
                              </div>
                              <div class="tab-pane fade" id="drawings" role="tabpanel" aria-labelledby="drawings-tab">
                                    <div class="aria">
                                          <div class="capsule"><a href="../../../img/gallery/drawings/will.jpg"><img
                                                            src="../../../img/thumbs/drawings/thumb-will.jpg"
                                                            title="Will Smith, ator- Desenho à lápis"></a></div>
                                          <div class="capsule" data-name=""><a
                                                      href="../../../img/gallery/drawings/heisenberg.jpg"><img
                                                            src="../../../img/thumbs/drawings/thumb-heisenberg.jpg"
                                                            title="Mr.White, Breaking Bad - Desenho à lápis"></a>
                                          </div>
                                          <div class="capsule"><a href="../../../img/gallery/drawings/dunas.jpg"><img
                                                            src="../../../img/thumbs/drawings/thumb-dunas.jpg"
                                                            title="Phillipe Dunas, modelo - Desenho à lápis"></a>
                                          </div>
                                          <div class="capsule"><a href="../../../img/gallery/drawings/wylona.jpg"><img
                                                            src="../../../img/thumbs/drawings/thumb-wylona.jpg"
                                                            title="Wylona Hayashi, influencer - Desenho à lápis"></a>
                                          </div>
                                          <div class="capsule"><a
                                                      href="../../../img/gallery/drawings/ariana-grande.jpg"><img
                                                            src="../../../img/thumbs/drawings/thumb-ariana-grande.jpg"
                                                            title="Ariana Grande, cantora - Desenho à lápis"></a></div>
                                          <div class="capsule"><a href="../../../img/gallery/drawings/davi.jpg"><img
                                                            src="../../../img/thumbs/drawings/thumb-davi.jpg"
                                                            title="Davi - Desenho à lápis"></a>
                                          </div>
                                          <div class="capsule"><a href="../../../img/gallery/drawings/fog.jpg"><img
                                                            src="../../../img/thumbs/drawings/thumb-fog.jpg"
                                                            title="Fog - Releitura de uma foto da web - Desenho à lápis"></a>
                                          </div>
                                          <div class="capsule"><a href="../../../img/gallery/drawings/depp.jpg"><img
                                                            src="../../../img/thumbs/drawings/thumb-depp.jpg"
                                                            title="Johnny Depp ator - Desenho à lápis"></a>
                                          </div>
                                          <div class="capsule"><a href="../../../img/gallery/drawings/rihannna.jpg"><img
                                                            src="../../../img/thumbs/drawings/thumb-rihannna.jpg"
                                                            title="Rihanna, cantora - Desenho à lápis"></a>
                                          </div>
                                          <div class="capsule"><a href="../../../img/gallery/drawings/mr-bean.jpg"><img
                                                            src="../../../img/thumbs/drawings/thumb-mr-bean.jpg"
                                                            title="Mr. Bean, ator - Desenho à lápis"></a>
                                          </div>
                                          <div class="capsule"><a
                                                      href="../../../img/gallery/drawings/terry-crews.jpg"><img
                                                            src="../../../img/thumbs/drawings/thumb-terry-crews.jpg"
                                                            title="Terry Crews, ator - Desenho à lápis"></a></div>
                                    </div>

                              </div>
                              <div class="tab-pane fade" id="low-poly" role="tabpanel" aria-labelledby="low-poly-tab">
                                    <div class="aria">
                                          <div class="capsule"><a href="../../../img/gallery/lowpolys/groot.jpg"><img
                                                            src="../../../img/thumbs/lowpoly/thumb-groot.jpg"
                                                            title="Baby Groot - Guardiães da Galáxia 2"></a></div>
                                          <div class="capsule" data-name=""><a
                                                      href="../../../img/gallery/lowpolys/will.jpg"><img
                                                            src="../../../img/thumbs/lowpoly/thumb-will.jpg"
                                                            title="Will Smith, ator"></a></div>
                                          <div class="capsule"><a href="../../../img/gallery/lowpolys/mike.jpg"><img
                                                            src="../../../img/thumbs/lowpoly/thumb-mike.jpg"
                                                            title="Mike Wazowski - Monstros SA"></a></div>
                                          <div class="capsule"><a href="../../../img/gallery/lowpolys/fox.jpg"><img
                                                            src="../../../img/thumbs/lowpoly/thumb-fox.jpg"
                                                            title="Raposa Branca, symbolo"></a></div>
                                    </div>
                              </div>

                              <!-- <div class="tab-pane fade" id="photography" role="tabpanel"
                                    aria-labelledby="photography-tab">
                                    <div class="aria">
                                          <div class="capsule"><a
                                                      href="../../../img/gallery/photography/universe-watch.jpg"><img
                                                            src="../../../img/thumbs/photography/thumb-universe-watch.jpg"
                                                            title="Universo Tempo- Fotografia de hobbie"></a></div>
                                          <div class="capsule" data-name=""><a
                                                      href="../../../img/gallery/photography/sunrise.jpg""><img
                                                            src=" ../../../img/thumbs/photography/thumb-sunrise.jpg"
                                                      title="Raios de sol - Fotografia de hobbie"></a></div>
                                          <div class="capsule"><a
                                                      href="../../../img/gallery/photography/guitar-night.jpg"><img
                                                            src="../../../img/thumbs/photography/thumb-guitar-night.jpg"
                                                            title="Silhueta na madrugada - Fotografia de hobbie"></a>
                                          </div>
                                          <div class="capsule"><a
                                                      href="../../../img/gallery/photography/subway.jpg"><img
                                                            src="../../../img/thumbs/photography/thumb-subway.jpg"
                                                            title="Metrô de SP - Fotografia de hobbie"></a></div>
                                          <div class="capsule"><a href="../../../img/gallery/photography/lamp.jpg"><img
                                                            src="../../../img/thumbs/photography/thumb-lamp.jpg"
                                                            title="Look What I Found Song, música e letra de composição própria - Fotografia de hobbie"></a>
                                          </div>
                                          <div class="capsule"><a href="../../../img/gallery/photography/penha.jpg"><img
                                                            src="../../../img/thumbs/photography/thumb-penha.jpg"
                                                            title="Bairro da Penha - Fotografia de hobbie"></a>
                                          </div>
                                          <div class="capsule"><a href="../../../img/gallery/photography/rose.jpg"><img
                                                            src="../../../img/thumbs/photography/thumb-rose.jpg"
                                                            title="Rosa na Casa das Rosas - Fotografia de hobbie"></a>
                                          </div>
                                          <div class="capsule"><a
                                                      href="../../../img/gallery/photography/julliete.jpg"><img
                                                            src="../../../img/thumbs/photography/thumb-julliete.jpg"
                                                            title="Julieta - Fotografia de hobbie"></a></div>
                                          <div class="capsule"><a
                                                      href="../../../img/gallery/photography/lighter.jpg"><img
                                                            src="../../../img/thumbs/photography/thumb-lighter.jpg"
                                                            title="Fagulhas no escuro - Fotografia de hobbie"></a></div>
                                    </div>
                              </div> -->
                        </div>
                  </div>
                  <div class="primary-button" id="discover">
                        <i class="icon-rocket"></i>
                        <!-- <a href="https://be.net/mrwsantos" target="_blank">discover more</a> -->
                        <a>descobrir mais</a>
                  </div>
            </div>
      </div>
      <a href="#sectionHome" class="backToTop"><i class="icon-angle-left"></i><span>TOPO</span></a>
</div>