<div class="skills">
  <div class="container">
    <div class="content-block" style="position: relative;">
      <span class="shadow">Habilidades e ferramentas</span>
      <h1 class="title-section">Habilidades e ferramentas</h1>
      <div class="card">
        <div class="card__item">
          <div class="block">
            <i class="icon-logo service"></i>
            <h5>Identidades Visuais</h5>
            <p>Projetos com designs <b>modernos, minimalistas, elegantes</b> e <b>marcantes</b> para <b>traduzir, com fiel integridade,</b>
              a <b>essência</b> da sua marca.</p>
              <ul>
                <li>Logotipos;</li>
                <li>Cartões de Visitas;</li>
                <li>Slogan e mais...</li>
              </ul>
          </div>
        </div>
        <div class="card__item">
          <div class="block">
            <i class="icon-web service"></i>
            <h5>Websites Institucionais / Landing-pages</h5>
            <p>Já pensou em <b>promover os seus produtos, serviços,</b> até mesmo seu <b>currículo</b> ou <b>portfólio pessoal</b>? Pode ser uma baita vantagem para você na hora de conseguir mais clientes ou alcançar possíveis empregadores!</br>
            <span>Podemos dar vida às suas ideias! :D</span></p>
          </div>
        </div>
        <div class="card__item">
          <div class="block">
            <i class="icon-pencil service"></i>
            <h5>Retratos à lapis</h5>
            <p>Quer transformar e guardar <b>aquela foto</b> sua que você <b>tanto gosta</b> ou, presentear alguem com um retrato realista <b>conservando momentos marcantes?</b></p>
            <span>Posso te ajudar com isso! :D</span>
          </div>
          
        </div>
        <div class="card__item">
          <div class="block">
            <i class="icon-poly service"></i>
            <h5>Ilustrações Low Poly</h5>
            <p>Você gostaria de<b> dar uma outra cara</b> para suas fotos ou até mesmo emoldurar uma cena de um <b>momento incrível</b> que você teve?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#sectionHome" class="backToTop"><i class="icon-angle-left"></i><span>TOPO</span></a>
</div>