<div class="contact">
  <div class="container">
    <div class="content-block" style="position: relative;">
      <span class="shadow">contact</span>
      <h1 class="title-section">contact me</h1>
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h5 class="text-center">Do you want to hire me, get a quote or even wanna know more about my services?</h5>
            <p>You can contact me using the links below or, sending me an email.</p>

            <div class="formulary">

              <div class="social-buttons">
                <a href="https://web.facebook.com/mrwdesignstudio" target="_blank" class="facebook"><i
                    class="icon-facebook"></i>
                </a>
                <a href="https://api.whatsapp.com/send?phone=5511991807453&text=Ola&#44;%20gostei%20do%20seu%20trabalho&#33;"
                  target="_blank" class="whatsapp"><i class="icon-whatsapp"></i>
                </a>
                <a href="https://www.behance.net/mrwsantos" target="_blank" class="behance"><i class="icon-behance"></i>
                </a>
                <a href="https://www.linkedin.com/in/willwsa/" target="_blank" class="linkedin"><i
                    class="icon-linkedin"></i>
                </a>
              </div>

              <form class="form" id="contactForm">
                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <input type="text" class="form-control" id="name" name="name" placeholder="your name" required>
                      <label for="name" class="label">your name</label>
                    </div>
                    <div class="col-12 col-md-6">
                      <input type="email" class="form-control" id="email" name="email" placeholder="your email"
                        required>
                      <label for="email" class="label">your email</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="subject" name="subject" placeholder="subject" required>
                  <label for="subject" class="label">subject</label>
                </div>
                <div class="form-group">
                  <textarea class="form-control" id="message" rows="3" name="message" placeholder="your message..."
                    required></textarea>
                  <label for="your message" class="label">your message</label>
                </div>
                <div class="primary-button">
                  <i class="icon-paperplane"></i>
                  <input type="submit" id="submit" value="send" />
                </div>
                <p id="msg">Thank you! :D I will contact you as soon as possible. 😃👍</p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#sectionHome" class="backToTop"><i class="icon-angle-left"></i><span>top</span></a>
</div>