<div class="services">
  <div class="container">
    <div class="content-block" style="position: relative;">
      <span class="shadow">services</span>
      <h1 class="title-section">services</h1>
      <div class="card">
        <div class="card__item">
          <div class="block">
            <i class="icon-logo service"></i>
            <h5>Visual Identities</h5>
            <p>Projects with <b>minimalist, modern</b> and <b>elegant</b> designs to <b>translate</b>, with <b>true integrity</b>, the <b>essence</b> of your brand.</p>
              <ul>
                <li>Logos;</li>
                <li>Business Cards;</li>
                <li>Slogan e more...</li>
              </ul>
          </div>
        </div>
        <div class="card__item">
          <div class="block">
            <i class="icon-web service"></i>
            <h5>Institutional Websites & Landing-pages</h5>
            <p>Have you ever thought <b>of promoting your services</b>, even your <b>CV</b> or your <b>personal portfolio</b>? 
              It could be a great vantage for you to get more clients ou reach possible employers!</br>
            <span>We can bring your ideas to life! :D</span></p>
          </div>
        </div>
        <div class="card__item">
          <div class="block">
            <i class="icon-pencil service"></i>
            <h5>Realistic Pencil Portraits</h5>
            <p>Do you want to transform<b> that picture </b>you <b>love </b>or, <b>to gift someone</b> with a realistic pencil portrait of your <b>most exciting moments?</b></p>
            <span>I can help you with that! :D</span>
          </div>
          
        </div>
        <div class="card__item">
          <div class="block">
            <i class="icon-poly service"></i>
            <h5>Low Poly Illustrations</h5>
            <p>Would you like to give your photos an<b> another style</b> or even <b>frame a scene</b> from your<b> most enjoyable moments</b>?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#sectionHome" class="backToTop"><i class="icon-angle-left"></i><span>TOP</span></a>
</div>