<div class="contact">
    <div class="container">
        <div class="content-block" style="position: relative;">
            <span class="shadow">contato</span>
            <h1 class="title-section">contato</h1>
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <h5 class="text-center">Se você estiver interessado em me contratar como Freelancer, ou quer saber mais sobre meus serviços..</h5>
                        <p>Contate-me através dos links abaixo ou, me envie um email.</p>
 
                        <div class="formulary">                            

                            <div class="social-buttons">
                                <a href="https://web.facebook.com/mrwdesignstudio" target="_blank" class="facebook"><i class="icon-facebook"></i>
                                </a>
                                <a href="https://api.whatsapp.com/send?phone=5511991807453&text=Ola&#44;%20gostei%20do%20seu%20trabalho&#33;" target="_blank" class="whatsapp"><i class="icon-whatsapp"></i>
                                </a>
                                <a href="https://www.behance.net/mrwsantos" target="_blank" class="behance"><i class="icon-behance"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/willwsa/" target="_blank" class="linkedin"><i class="icon-linkedin"></i>
                                </a>
                            </div>

                            <form class="form" id="contactFormTwo">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <input type="text" class="form-control" id="name" name="name" placeholder="seu nome" required>
                                            <label for="name" class="label">seu nome</label>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <input type="email" class="form-control" id="email" name="email" placeholder="seu email" required>
                                            <label for="email" class="label">seu email</label>
                                        </div>                                        
                                    </div>                                 
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="assunto" required>
                                    <label for="subject" class="label">assunto</label>
                                </div>
                                <div class="form-group">
                                  <textarea class="form-control" id="message" rows="3" name="message" placeholder="sua mensagem..." required></textarea>
                                  <label for="your message" class="label">sua mensagem</label>
                                </div>
                                <div class="primary-button">
                                  <i class="icon-paperplane"></i>
                                  <input type="submit" id="submit" value="enviar"/>
                                </div>
                                <p  id="msg">Obrigado por me contatar! :D Te responderei assim que possível. 😃👍</p>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<a href="#sectionHome" class="backToTop"><i class="icon-angle-left"></i><span>TOPO</span></a>
</div>