<div class="recommendations">
    <div class="container">
        <div class="content-block" style="position: relative;">
            <span class="shadow">recomendações</span>
            <h1 class="title-section">recomendações</h1>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="first-block">
                        <div id="carouselComments" class="carousel carousel-fade" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="text">
                                    <div class="carousel-item active">
                                        <div class="carousel-caption">
                                            <div class="carousel-block">
                                                <figure class="recommendations__image-shape">
                                                    <img src="../../../img/recommendations/rodney.png" alt="Selfie"
                                                        class="recommendations__image">
                                                </figure>
                                                <p>"Como proprietário da marca RodStore Importados fiquei ainda mais
                                                    apaixonado pela marca, quando vi a logo desenvolvida pelo Willian,
                                                    ficou sensacional, além de minhas expectativas para a mesma; fiquei
                                                    sem palavras para descrever a minha sensação após o trabalho
                                                    concluído. Recomendo fielmente o Willian para o desenvolvimento de
                                                    sua marca. Meus parabéns pelo trabalho!"
                                                    <small>Rodney Matheus</small>
                                                    <small>Proprietário da RodStore Importados</small>
                                                    <small>2021</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="carousel-caption">
                                            <div class="carousel-block">
                                                <figure class="recommendations__image-shape">
                                                    <img src="../../../img/recommendations/ionerivera.jpg" alt="Selfie"
                                                        class="recommendations__image">
                                                </figure>
                                                <p>"Menino de ouro! Restaurou a única foto que eu tinha do meu pai,
                                                    muito antiga, inclusive. Fiquei maravilhada!"
                                                    <small>Ione Rivera</small>
                                                    <small>Técnica de segurança do trabalho</small>
                                                    <small>2020</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="carousel-caption">
                                            <div class="carousel-block">
                                                <figure class="recommendations__image-shape">
                                                    <img src="../../../img/recommendations/nilza.jpg" alt="Selfie"
                                                        class="recommendations__image">
                                                </figure>
                                                <p>"Willian atuou por 2 anos conosco desenvolvendo com sucesso
                                                    diferentes
                                                    projetos. Possui habilidades
                                                    criativas e artística na elaboração de representações gráficas
                                                    digitais.
                                                    É correto, competente, responsável, pontual e dedicado
                                                    ao compromisso assumido com a empresa, motivos que nos levam a
                                                    recomendar o seu trabalho."
                                                    <small>Nilza Ferreira</small>
                                                    <small>Diretora no Colégio Presbiteriano do Brás</small>
                                                    <small>2020</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="carousel-caption">
                                            <div class="carousel-block">
                                                <figure class="recommendations__image-shape">
                                                    <img src="../../../img/recommendations/ophelia.jpg" alt="Selfie"
                                                        class="recommendations__image">
                                                </figure>
                                                <p>"Um ser humano iluminado, um artista completo! Atencioso, paciente,
                                                    inteligente e de visão.
                                                    Adorei tê-lo conosco para desenvolver nossa identidade visual."
                                                    <small>Ofélia Fernandes</small>
                                                    <small>Proprietária da Ophelia Floricultura</small>
                                                    <small>2020</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="carousel-caption">
                                            <div class="carousel-block">
                                                <figure class="recommendations__image-shape">
                                                    <img src="../../../img/recommendations/acacio.jpg" alt="Selfie"
                                                        class="recommendations__image">
                                                </figure>
                                                <p>"Desde o começo, mostrou-se estar imerso no projeto. Via coisas além
                                                    do que eu mesmo poderia imaginar.
                                                    Todas as etapas culminaram para que tivéssemos uma vivência bastante
                                                    agradável e produtiva.
                                                    Sem pestanejar, o recomendei para dois amigos meus.
                                                    Quando a pessoa ama o que faz, os resultados são surpreendentes.
                                                    Nota 10!"
                                                    <small>Acácio Louveira</small>
                                                    <small>Advogado e propretário em Acácio Advocacia</small>
                                                    <small>2020</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="carousel-caption">
                                            <div class="carousel-block">
                                                <figure class="recommendations__image-shape">
                                                    <img src="../../../img/recommendations/manhani.jpg" alt="Selfie"
                                                        class="recommendations__image">
                                                </figure>
                                                <p>"Eu acompanhei o Willian em sua trajetória por dois anos e ele
                                                    realmente
                                                    tem um potencial criativo excepcional. É indiscutível que ele
                                                    como profissional é correto, competente e responsável, e como ser
                                                    humano ele demonstra a pessoa que é através de suas artes, ou
                                                    seja, uma pessoa inspiradora!"
                                                    <small>Vitor Gomes Manhani</small>
                                                    <small>Cientista da Computação</small>
                                                    <small>2020</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ol class="carousel-indicators">
                                <li data-target="#carouselComments" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselComments" data-slide-to="1"></li>
                                <li data-target="#carouselComments" data-slide-to="2"></li>
                                <li data-target="#carouselComments" data-slide-to="3"></li>
                                <li data-target="#carouselComments" data-slide-to="4"></li>
                                <li data-target="#carouselComments" data-slide-to="5"></li>
                            </ol>
                            <a class="carousel-control-prev" href="#carouselComments" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Anterior</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselComments" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Próximo</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="second-block text-center">
                        <div class="content">
                            <hr class="d-xs-block d-sm-block d-lg-none">
                            <h3>Quer escrever algo sobre mim?</h3>
                            <p>Seu comentário e/ou indicação pode estar neste carrosel! :D</p>
                            <div class="primary-button btn-recommendation">
                                <i class="icon-heart-solid"></i>
                                <a href="#sectionContact">clique aqui</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#sectionHome" class="backToTop"><i class="icon-angle-left"></i><span>TOPO</span></a>
</div>