//FONTES 

$main-font: 'PT Sans', sans-serif;
$icomoon: 'icomoon';

$f5: 5px;
$f6: 6px;
$f10: 10px;
$f12: 12px;
$f14: 14px;
$f16: 16px;
$f18: 18px;
$f20: 20px;
$f24: 24px;
$f28: 28px;
$f32: 32px;
$f38: 38px;
$f40: 40px;
$f45: 45px;
$f50: 50px;
$f60: 60px;
$f72: 72px;